
html,body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
body {
    scrollbar-width: thin;          /* "auto" or "thin"  */
}
.container{
    width: 100%;
}
#toplogo{
    width:50%;
    margin: 5%;
}
.navBar{display:flex;}
.dropdown-menu:hover{
    color: black;
    font-weight: bold !important;
}
.dropdown{position: relative;width: 60%;right: 0%;}
#humberger{width: 15%;float:right;margin: 10%;margin-top: 30%;}
.dropdown-menu{right:0%;width: 70%;padding: 5%;position: absolute !important;}

#backgroundImage{
    width:100%;
    position: relative;
    z-index: -1;
}
#backgroundImage2{
    display: none;
    z-index: -10;
}
.saying{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
    color:#000;
    font-weight: 1000;
    z-index: 0;
}
.saying2{
    font-size: 21px;
    color: #000;
    font-weight: 400;
    text-shadow: none;
    margin-bottom: 10%;
    margin: 15px;
}
button{
    position: relative;
    left: 5%;
    
}

#callToAction{
    font-size: 18px;
    color:  rgb(253, 244, 236) ;
    font-weight: bold;
    margin-bottom: 20px;
    float: left;
}
#callToAction > a{
    color: white;
}
#callToAction2{
    font-size: 18px;
    color:  rgb(253, 244, 236);
    font-weight: bold;
    margin-bottom: 20px;
    float: right;
    margin-right: 17%;
}
#callToAction2 > a{
    color: white;
}
a{
    color: white;
}
a:visited{
    color: white !important;
    text-decoration: none !important;
}
a:hover{
    color: wheat !important;
    text-decoration: none !important;
}
.Services4U{
    background-color:#f0ad4e ;
    /*background-image: url("ivan-gromov-Y3vPEuNlf7w-unsplash.jpg");*/
    width: 100%;
}

#services{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size:22px ;
    position: relative;
    justify-content: stretch;
    margin:3%;
}

.services > ul {
    list-style-image: url('singleLadies.png');
    margin-left: 5%;
    margin-right: 2%;
  }
.services{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #000;
    font-weight: 400;
    margin-left: 0;
}
#decor1{
    height: 0;
    width: 5px;
    border-left: 25px solid transparent;
	border-right: 25px solid transparent;
    border-top: 20px solid #fff;
    position: relative;
    left:42%;
    top: -10px;
    margin-bottom: 10px;
}
#sales4U{
    margin:10px;
    padding: 10px;
    position: relative;
    top:50%;
}
.pawsIcon{
    width: 10%;
}
.offersImage{
    width: 30%;
}
.row>div{
    margin: 3% 20% 5% 20%;
    padding: 5% 0% 5% 5%;
    height: 150px;
}
.Price{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    float: right;
}
.time{
    background-color: rgba(255, 36, 36, 0.9);
    font-weight: bolder;
    color: whitesmoke;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    padding-left: 35%;
}
.topTitle{
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}
.container2{
    background-color: #f0ad4e;
    color:black;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    padding: 10% 0% 15% 0%;
}
.container2>p{
    margin: 8% 15% 8% 15%;
    
}
.upperContact{
    font-size: 20px;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
}
.titleOf{
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5%;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#decorPaw{
    float:right;
}
#contact{
    margin: 8%;
}
#facebook{
    margin:2%;
    width: 15%;
    
}
#instagram{
    
    margin: 0% ;
    border-radius: 25%;
    width: 15%;
}

footer{
    background-color: rgb(58, 58, 58);
    color: white;
    text-align: center;
    padding: 1%;
}
.desktop{
    display: none;
}
@media only screen and (min-width: 768px){
    /*for desktop*/
    .dropdown{
        display: none;
    }
    #toplogo{
        width: 20%;
        margin: 4%;
        position: relative;
        left: 0%;
    }
    .desktop{
        float: right;
        margin:5% 10% 4% 0%;
        display: flex;
        flex-wrap: nowrap;
        
    }
    .desktop>a{
        padding:5% ;
        text-decoration: none;
        color:black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1.4em;
    }
    a:active{
        color:black;
    }
    .desktop>a:hover{
        color:#eea236 !important;
    }
    .navBar{display:flex;}


    #backgroundImage{
       display: none;
    }
    #backgroundImage2{
        width: 50%;
        display: inline;
        left: 0%;
    }
    .topDisplay{
       /* display: grid;
        grid-gap: 0%;
        grid-template-columns: 30% 70%;*/
        display: grid;
        width: 100%;
        margin-bottom: 5%;
    }
    .saying{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 3em;
        text-align: start;
        color:#000;
        font-weight: 1000;
        position: absolute;
        right: 5%;
        width: 55%;
    }
    .saying2{
        font-size: 0.7em;
        color: #000;
        font-weight: 400;
        text-shadow: none;
        margin-bottom: 10%;
        margin: 15px;
        width: 90%;
        right: 2%;
    }
    button{
        position: relative;
        right: 5%;
    }

    #callToAction{
        font-size: 18px;
        color:  rgb(253, 244, 236) ;
        font-weight: bold;
        margin-bottom: 20px;
        width: 18%;
        float: left;
        display: none;
    }
    #callToAction > a{
        color: white;
    }
    #callToAction2{
        width: 18%;
        float: right;
        font-size: 18px;
        color:  rgb(253, 244, 236);
        font-weight: bold;
        margin-bottom: 20px;
        margin-right: 17%;
        display: none;
    }
    #callToAction2 > a{
        color: white;
    }
    a{
        color: white;
    }
    a:visited{
        color: white !important;
        text-decoration: none !important;
    }
    a:hover{
        color: wheat !important;
        text-decoration: none !important;
    }
    .Services4U{
        background-color:#f0ad4e ;
        /*background-image: url("ivan-gromov-Y3vPEuNlf7w-unsplash.jpg");*/
        width: 100%;
        height: 100%;
        margin-top: 10%;
    }
    
    #services{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        font-size:2.4em ;
        position: relative;
        justify-content: stretch;
        margin:3%;
    }
    
    .services>ul {
        list-style-image: url('singleLadies.png');
        margin-left: 5%;
        margin-right: 2%;
      }
    .services{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 2em;
        color: #000;
        font-weight: 400;
        margin:5% 1% 5% 0% ;
        padding: 0.5em;
    }

    #decor1{
        height: 0;
        width: 5px;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 20px solid #fff;
        position: relative;
        left:45%;
        top: -10px;
        margin-bottom: 10px;
    }
    #sales4U{
        margin:10px;
        padding: 10px;
        position: relative;
        top:50%;
    }
    #sales4Uaddition{
        font-size: 2.5em;
    }
    .pawsIcon{
        width: 10%;
    }
    .offersImage{
        width: 30%;
    }
    .row>div{
        height: 150px;
        width: 25%;
        margin: 5%;
        padding: 0%;
        margin-left: 15%;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .Price{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 25px;
        float: right;
    }
    .time{
        background-color: rgba(255, 36, 36, 0.9);
        font-weight: bolder;
        color: whitesmoke;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        padding-left: 35%;
    }
    .topTitle{
        font-size: 24px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 500;
    }
    .container2{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 2em;
        color: #000;
        font-weight: 400;
        margin:5% 1% 5% 0% ;
        padding: 10% 0% 15% 0%;
    }
    .container2>p{
        margin: 8% 15% 8% 15%;
        
    }
    .upperContact{
        font-size: 20px;
        font-weight: 200;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        position: relative;
    }
    .titleOf{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        font-size:1.4em ;
        position: relative;
        justify-content: stretch;
        margin:3%;
    }
    #decorPaw{
        float:right;
        width: 5%;
    }
    #contact{
        margin: 8%;
    }
    #contactId{
        font-size: 2.4em;
    }

    .info{
        margin-left: 10%;
        font-size: 1.5em;
    }
    #facebook{
        margin:2%;
        width: 5%;
    }
    #instagram{
        border-radius: 25%;
        width: 5%;
    }
    footer{
        background-color: rgb(58, 58, 58);
        color: white;
        text-align: center;
        padding: 1%;
    }
 
}